.owl-theme .owl-nav {
	text-align: center; margin-top: 10px; -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
	background: rgb(214, 214, 214); margin: 5px; padding: 4px 7px; border-radius: 3px; color: white; font-size: 14px; display: inline-block; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
	background: rgb(134, 151, 145); color: white; text-decoration: none;
}
.owl-theme .owl-nav .disabled {
	cursor: default; opacity: 0.5;
}
.owl-theme .disabled.owl-nav + .owl-dots {
	margin-top: 10px;
}
.owl-theme .owl-dots {
	text-align: center; -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block; -ms-zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
	background: rgb(214, 214, 214); margin: 5px 7px; border-radius: 30px; transition:opacity 200ms; width: 10px; height: 10px; display: block; -webkit-border-radius: 30px; -moz-border-radius: 30px; -webkit-backface-visibility: visible; -webkit-transition: opacity 200ms ease; -moz-transition: opacity 200ms ease; -o-transition: opacity 200ms ease;
}
.owl-theme .owl-dots .active.owl-dot span {
	background: rgb(134, 151, 145);
}
.owl-theme .owl-dots .owl-dot:hover span {
	background: rgb(134, 151, 145);
}
