abbr {
	border-bottom-color: currentColor; border-bottom-width: 0.1em; border-bottom-style: dotted;
}
abbr:hover {
	cursor: pointer;
}
#abbr_tooltip {
	background: rgb(17, 17, 17); padding: 15px; text-align: center; color: rgb(255, 255, 255); position: absolute; z-index: 1000;
}
#abbr_tooltip::after {
	left: 50%; width: 0px; height: 0px; bottom: -10px; margin-left: -10px; border-top-color: rgb(17, 17, 17); border-right-color: transparent; border-left-color: transparent; border-top-width: 10px; border-right-width: 10px; border-left-width: 10px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; content: "";
}
.top#abbr_tooltip::after {
	top: -20px; bottom: auto; border-top-color: transparent; border-bottom-color: rgb(17, 17, 17); border-bottom-width: 10px; border-bottom-style: solid;
}
.left#abbr_tooltip::after {
	margin: 0px; left: 10px;
}
.right#abbr_tooltip::after {
	margin: 0px; left: auto; right: 10px;
}
